*
!.gitignore
!announcement
!attendance
!check_day
!course
!employee
!employee_leave
!employee_training
!faceterminal_log
!leave_submissions
!logs
!registrant
!salary_slip
!sick_necessity_submissions
!store
!store_visit
!system
!temps
!track_location
!tracking_good_receipt
!tracking_photo
!training_material